<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>MyWebAI</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h2>🎧 عالم المحور</h2>
    <p class="subtitle">ما يحتاج اشرح الفكرة سهلة</p>

    <form method="post" action="/process">
        <label>رابط يوتيوب:</label>
        <input type="text" name="url" placeholder="https://youtube.com/...">

        <label>الوضع:</label>
        <select name="mode">
            <option value="text">نص فقط</option>
            <option value="audio">صوت فقط</option>
            <option value="both">نص + صوت</option>
        </select>

        <button type="submit">تحويل</button>
    </form>

    <div class="loading">
        ⏳ جاري المعالجة… الرجاء الانتظار
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
